<div class="container-fluid">
  
  <h1 class="text-center">GitGames</h1>
  
  <div class="row top-padding-25">
    <div class="form-group col-xs-6">
      <repo-finder placeholder="Angular Repo" (stats)="statsLeft = $event"></repo-finder>
    </div>
    <div class="form-group col-xs-6">
      <repo-finder placeholder="React Repo" (stats)="statsRight = $event"></repo-finder>
    </div>
    <!--<button class="btn btn-primary btn-sm col-xs-offset-3 col-xs-6" type="submit">Compare</button>-->
  </div>
  
  <div class="row padding-stats">
    <!-- Repo 1 Stats -->
    <div class="col-xs-5 border-solid-black-1">
      <ul class="list-unstyled" *ngIf="statsLeft">
        <li>Owner: {{statsLeft.owner.login}}</li>
        <li>Repo URL: {{statsLeft.url}}</li>
        
        <li>Stars: {{statsLeft.stargazers_count}}</li>
        <li>Forks: {{statsLeft.forks_count}}</li>
        <li>Watchers: {{statsLeft.watchers_count}}</li>
      </ul>
    </div>

    <!-- Repo 2 Stats -->
    <div class="col-xs-offset-2 col-xs-5 border-solid-black-1">
      <ul class="list-unstyled" *ngIf="statsRight">
        <li>Owner: {{statsRight.owner.login}}</li>
        <li>Repo URL: {{statsRight.url}}</li>

        <li>Stars: {{statsRight.stargazers_count}}</li>
        <li>Forks: {{statsRight.forks_count}}</li>
        <li>Watchers: {{statsRight.watchers_count}}</li>
      </ul>        
    </div>
  </div>
</div>